<div class="upload-container">
  <div class="upload-header"></div>
  <hr class="custom-hr" />
  <div class="upload-content">
    <div
      *ngIf="imageUrlToShow.length === 0"
      (click)="openUploadModal()"
      class="btn-upload"
    >
      <label class="lbl-upload"> Upload photo </label><br />
      <div class="image-icon-container">
        <img class="image-icon" width="80%" height="100%" src="../../../assets/img/image.png" alt="img-icon" />
      </div>
    </div>
    <div class="image-upload-container">
      <div
        class="row image-container"
        *ngIf="imageUrlToShow && imageUrlToShow.length > 0"
      >
        <div *ngFor="let img of imageUrlToShow" class="col-3">
          <img height="100%" width="100%" [src]="img" class="image-upload" />
          <div (click)="deleteImage(img)" class="btn-delete-img">X</div>
        </div>
        <div
          *ngIf="imageUrlToShow.length < 4"
          (click)="openUploadModal()"
          class="col-2"
        >
          <div class="image-upload btn-add">
            <img
              height="100%"
              width="100%"
              src="../../../assets/img/plus.png"
              alt="add-icon"
              class="add-icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="upload-note">
    <label>Formats: JPG,JPEG,PNG</label><br />
    <label>File size: Up to 10MB</label>
  </div>
  <div class="btn-schedule-container">
    <button (click)="submitPost()" type="button" class="btn btn-success btn-schedule">
      Schedule
    </button>
  </div>
</div>
