<div class="app-container">
  <app-timeline-post [lstImgUpload]="lstImgUpload"></app-timeline-post>
  <div class="activity-btn">
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-secondary">Save draft</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-success">Schedule</button>
      </div>
    </div>
    <hr />
  </div>
  <app-publish-date></app-publish-date>
  <app-upload-file (listImgEmit)="getImgSubmit($event)"></app-upload-file>
</div>
