<div class="row">
  <div class="col-3">
    <label>Publish date</label>
  </div>
  <div class="col-9">
    <!--Publish Now option-->
    <div class="custom-control custom-radio">
      <input
        type="radio"
        class="custom-control-input"
        id="publishNow"
        name="defaultExampleRadios"
        checked
        mdbInput
      />
      <label class="custom-control-label" for="publishNow">Publish now</label>
    </div>
    <!--/Publish Now option-->

    <!--Choose Date Time option-->
    <div class="custom-control custom-radio">
      <input
        type="radio"
        class="custom-control-input"
        id="dateTime"
        name="defaultExampleRadios"
        mdbInput
      />
      <label class="custom-control-label" for="dateTime">
        <app-date-picker></app-date-picker
      ></label>
    </div>
    <!--Choose Date Time option-->
  </div>
</div>
